<div class="sign-in-page">
  <form [formGroup]="changePassForm" (ngSubmit)="doChangePassword()">
    <div class="sign-in-form-container row">
     

      <div class="col-md-12 login-hint">
        <h3>CHANGE PASSWORD</h3>
      </div>

      <div class="col-md-12 form-label">
        <label for="oldPassword">Current Password</label>
      </div>
      <div class="col-md-6 form-input">
        <input class="form-control" name="oldPassword" id="oldPassword" type="password" formControlName="oldPassword">
        <show-errors [control]="changePassForm.controls.oldPassword"></show-errors>
      </div>

      <div class="col-md-12 form-label">
        <label for="newPassword">New Password</label>
      </div>
      <div class="col-md-6 form-input">
        <input class="form-control" name="newPassword" id="newPassword" type="password" formControlName="newPassword"
         pattern="[a-zA-Z0-9 ]*">
        <show-errors [control]="changePassForm.controls.newPassword"></show-errors>
      </div>
      
      <div class="col-md-12 form-label">
        <br>
      </div>
      <div class="col-md-6 form-button">
        <button type="submit" class="btn btn-primary btn-lg btn-block sign-in-button" [disabled]="!changePassForm.valid">
          SUBMIT
        </button>
      </div>

    </div>
  </form>
</div>
